---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<MainHead title="About | Alder Velasquez" description="About Alder Velasquez" />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}

			.heroImg img {
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About Me</h1>
			<div class="heroImg">
				<img
					width="1400"
					height="350"
					src="https://images.unsplash.com/photo-1581977012607-4091712d36f9?auto=format&fit=crop&w=1400&h=350&q=75"
				/>
			</div>
			<div class="bio wrapper">
				<p>My name is Alder, and I come from Nicaragua. Ever since I was a child, I have been fascinated by computers. I loved exploring how they worked, tinkering with hardware, and experimenting with software. This curiosity and passion for technology only grew as I got older.</p>
				<p>When I moved to Spain and completed my secondary education (ESO), I was absolutely certain about my career path. I decided to pursue a Vocational Training Intermediate Level and later an Advanced Level in IT, with a specific focus on programming and software development. These formative years solidified my love for coding and equipped me with a strong foundation in computer science.</p>
				<p>After finishing my studies, I began my professional career at CIC, where I continue to work to this day. CIC has been the cornerstone of my professional development. It is where I have learned most of what I know about software engineering, DevOps practices, and cutting-edge technologies. My time at CIC has been invaluable in shaping me into the professional I am today. I constantly strive to expand my knowledge, whether by exploring topics like Large Language Models (LLMs), delving into hardware innovations, or keeping up with emerging trends in the tech industry.</p>
				<p>Beyond my professional life, I am a firm believer in continuous self-improvement. I dedicate time to learning new skills and exploring areas outside my comfort zone. Additionally, I enjoy indulging in hobbies that allow me to express creativity and relax, such as photography and gaming. These activities not only bring me joy but also inspire me to think creatively in my work.</p>
				<p>In summary, I am a passionate technologist who thrives on learning and building innovative solutions. My journey from a curious child in Nicaragua to a dedicated professional at CIC is a testament to my commitment to growth and my love for technology.</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
